<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app id="WebApp_ID">
	<display-name>DemoApp</display-name>
	
	<filter>
		<filter-name>IdFilter2</filter-name>
		<display-name>IdFilter2</display-name>
		<description></description>
		<filter-class>com.zensar.IdFilter2</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IdFilter2</filter-name>
		<url-pattern>/id2</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>MyServlet1</servlet-name>
		<display-name>MyServlet1</display-name>
		<description></description>
		<servlet-class>com.zensar.MyServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DemoServlet</servlet-name>
		<display-name>DemoServlet</display-name>
		<description></description>
		<servlet-class>com.zensar.DemoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyServlet2</servlet-name>
		<display-name>MyServlet2</display-name>
		<description></description>
		<servlet-class>com.zensar.MyServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>com.zensar.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.zensar.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet1</servlet-name>
		<url-pattern>/my</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DemoServlet</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyServlet2</servlet-name>
		<url-pattern>/add2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
<!-- <DemoApp>
  <display-name>Archetype Created  Application</display-name>
  <servlet>
  	<servlet-name>AddServlet1</servlet-name>
  	<display-name>AddServlet1</display-name>
  	<description></description>
  	<servlet-class>com.zensar.AddServlet1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SqrServlet</servlet-name>
  	<display-name>SqrServlet</display-name>
  	<description></description>
  	<servlet-class>com.zensar.SqrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddServlet1</servweb-aame>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SqrServlet</servlet-name>
  	<url-pattern>/sqr</url-pattern>
  </servlet-mapping>
</DemoApp>-->
